<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="container">  
  <div class="row">
    <h1>Daftar Surat Keluar</h1>
      <div class="col s12">
        <% if current_user.email === "ugel@kemenagsumteng.go.id" %>
          <h2>Konsep Surat Keluar</h2>
          <% @surat_keluar_konsep.each do |surat_keluar| %>
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <%= surat_keluar.keterangan %>
              <%= surat_keluar.lampiran %>
              <%= link_to 'Tampilkan', surat_keluar_path(surat_keluar), class: "btn" %>
              <%= link_to 'Edit', edit_surat_keluar_url(surat_keluar), class: "btn" %>
              <%= link_to 'Kirim ke KASIE', change_surat_keluar_path(surat_keluar, status: 'koreksi KTU ke-I'), class: "btn", method: :put %>
              <%= link_to 'Hapus', surat_keluar_path(surat_keluar), class: "btn",
                      method: :delete,
                      data: { confirm: 'Apakah Anda yakin?' } %>
            </div>
          </div>
          <% end %>
        <% elsif current_user.email === "ktu@kemenagsumteng.go.id" %>
          <h2>Koreksi KTU</h2>
          <% @surat_keluar_ktu.each do |surat_keluar| %>
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <%= surat_keluar.keterangan %>
              <%= surat_keluar.lampiran %>
              <%= link_to 'Tampilkan', surat_keluar_path(surat_keluar), class: "btn" %>
              <%= link_to 'Edit', edit_surat_keluar_url(surat_keluar), class: "btn" %>
              <%= link_to 'Kirim untuk Revisi', change_surat_keluar_path(surat_keluar, status: 'revisi untuk KTU ke-I'), class: "btn", method: :put %>
              <%= link_to 'Hapus', surat_keluar_path(surat_keluar), class: "btn",
                      method: :delete,
                      data: { confirm: 'Apakah Anda yakin?' } %>
            </div>
          </div>
          <% end %>
        <% elsif current_user.email === "ktu@kemenagsumteng.go.id" %>
          <h2>Koreksi Kepala</h2>
          <% @surat_keluar_kepala.each do |surat_keluar| %>
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <%= surat_keluar.keterangan %>
              <%= surat_keluar.lampiran %>
              <%= link_to 'Tampilkan', surat_keluar_path(surat_keluar), class: "btn" %>
              <%= link_to 'Edit', edit_surat_keluar_url(surat_keluar), class: "btn" %>
              <%= link_to 'Kirim untuk Revisi', change_surat_keluar_path(surat_keluar, status: 'revisi untuk KTU ke-I'), class: "btn", method: :put %>
              <%= link_to 'Hapus', surat_keluar_path(surat_keluar), class: "btn",
                      method: :delete,
                      data: { confirm: 'Apakah Anda yakin?' } %>
            </div>
          </div>
          <% end %>
        <% else %>
         <p>Anda belum terdata</p>
        <% end %>

    <%= link_to 'Membuat Surat Keluar', new_surat_keluar_url, class: "btn" %>
    <%= link_to 'Ke Beranda', beranda_index_url, class: "btn" %>
  </div>
</div>