<nav>
  <div class="nav-wrapper">
    <%= link_to 'Sidodi', beranda_index_url, class: "brand-logo" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
        <li><%= link_to 'Edit Akun', edit_user_registration_path %></li>
        <li><%= link_to 'Surat Keluar', surat_keluar_index_url %></li>
        <li><%= link_to 'Keluar', destroy_user_session_path, method: :delete  %></li>
      <% else %>
        <li><%= link_to 'Masuk', new_user_session_path %></li>
        <li><%= link_to 'Daftar', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>